@font-face {
    font-family: League Spartan;
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/League-Spartan/LeagueSpartan-Bold.otf") format("otf");
}

@font-face {
    font-family: Playfair Display;
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Playfair-Display/PlayfairDisplay-Regular.otf") format("otf");
}

@font-face {
    font-family: Poppins;
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Poppins/Poppins-Black.otf") format(("otf"));
}

body {
    overflow-x: hidden;
}

.title-info {
    font-family: Playfair Display;
    font-size: 42px;
    color: #333333;
    font-weight: bolder;
}

#navbarNav ul li {
    font-family: League Spartan;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 9px;
}

#hero #banner {
    background: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 81% 100%;
}

#hero #banner {
    padding: 170px 0px 0px 0px;
}

#hero #banner #your {
    color: #5DA8EF;
    font-size: 9px;
    font-family: League Spartan;
    text-transform: uppercase;
    font-weight: bolder;
}

#hero #banner #beautiful {
    font-size: 62px;
    font-weight: bolder;
    margin-top: -25px;
    font-family: Playfair Display;
}

#hero #banner #one {
    font-size: 14px;
    font-weight: lighter;
    font-family: Poppins;
    color: #8F8F8F;
}

#banner div ul {
    margin-top: 170px;
}

.control {
    font-size: 20px;
    color: #EBEBEB;
}

.control-1 {
    color: #5DA8EF;
    font-weight: bold;
}

.control-5 {
    color: #000;
    font-weight: bold;
}

#quote {
    padding-top: 190px;
}

#quote #quote-info {
    font-size: 26px;
    font-family: Playfair Display;
    font-weight: normal;
    color: #333333;
}

#quote #quote-author {
    font-size: 9px;
    font-family: League Spartan;
    font-weight: bolder;
    color: #333333;
    text-transform: uppercase;
    letter-spacing: 1.2em;
}

.vertical-line {
    border-right: 2px solid #5DA8EF;
    content: " ";
    padding: 50px 0;
}

#media-content .container .row {
    background-image: url("../images/image_1.jpg");
    background-repeat: no-repeat;
    background-size: 570px 370px;
}

#media-content #image-2 {
    position: relative;
    left: 45%;
    width: 706px;
    height: 549px;
    margin-top: 50px;
}

#media-content #by-better {
    font-size: 14px;
    font-family: Poppins;
    color: #616161;
    position: relative;
    top: -20%;
    left: 5%;
}

.more-content {
    font-size: 9px;
    font-family: League Spartan;
    color: #333333;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #8DC1F3;
    letter-spacing: 1em;
    text-transform: uppercase;
    font-weight: bolder;
}

/* #shop {
    padding: 50px 0px;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255, 1), rgba(0, 0, 0, 0)), url("../images/image_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
} */

#shop #shop-shop {
    color: #5DA8EF;
    font-size: 9px;
    font-family: League Spartan;
    font-weight: bolder;
}

#shop #surfboard {
    margin-top: -20px;
}

#shop #boards .desc {
    padding: 50px 0px 50px 70px;
}

#shop #boards .tag {
    color: #7a7a7a;
    font-family: Poppins;
    font-size: 12px;
    font-weight: lighter;
    text-transform: uppercase;
}

#shop #boards .board-name {
    font-size: 26px;
    font-family: Playfair Display;
    color: #333333;
    margin-top: -20px;
}

#shop #boards .price {
    font-size: 20px;
    font-family: Poppins;
    color: #ce60a8;
    font-weight: lighter;
}

#shop #boards .buy {
    font-size: 9px;
    font-family: League Spartan;
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: -20px;
}

#shop #boards #board-1 {
    background-image: url("../images/board_1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
}

#shop #boards #board-2 {
    background-image: url("../images/board_2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
}

#shop #boards #board-3 {
    background-image: url("../images/board_3.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
}

#shop #show-all {
    font-size: 9px;
    font-family: League Spartan;
    color: #333333;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #8DC1F3;
}

.line-below-title {
    color: #8DC1F3;
    background-color: #8DC1F3;
    width: 15%;
    height: 5px;
    border: none;
    float: left;
    margin-top: -5px;
}

.article-content {
    padding: 50px 0;
}

#surf-training::before {
    font-family: Poppins;
    content: "01";
    position: absolute;
    color: #7a7a7a;
    font-size: 100px;
    opacity: 0.1;
    margin-top: -53px;
}

#point-break::before {
    font-family: Poppins;
    content: "02";
    position: absolute;
    color: #7a7a7a;
    font-size: 100px;
    opacity: 0.1;
    margin-top: -53px;
}

.article-info {
    clear: both;
    font-family: Poppins;
    font-size: 14px;
    font-weight: lighter;
    color: #616161;
}

#article-1 img {
    width: 760px;
    height: 440px;
}

#subscribe .join-club-description {
    font-family: Poppins;
    color: #616161;
    font-size: 14px;
    font-weight: lighter;
}

#email {
    letter-spacing: .2em;
    font-weight: bold;
}

#email-addon {
    background-color: #5DA7EF;
    color: #ffffff;
}

#contact-image {
    margin-left: -120px;
}

.contact-content {
    padding: 100px 0;
}

#contact-info {
    font-family: Playfair Display;
    font-size: 32px;
    color: #333333;
    font-weight: bold;
}

#contact-info::before {
    content: "OUR CAMP";
    font-family: Poppins;
    color: #7a7a7a;
    font-size: 9px;
    opacity: .5;
    position: absolute;
    margin-top: -60px;
    margin-left: -50px;
}

#get-in-touch::before {
    content: "GET IN TOUCH";
    font-family: Poppins;
    color: #5DA8EF;
    font-size: 9px;
    position: absolute;
    margin-top: 70px;
    margin-left: -50px;
    text-decoration: underline;
    text-decoration-color: #5DA8EF;
    letter-spacing: .2em;
    font-weight: bolder;
}

#footer ul li{
    font-family: League Spartan;
    font-size: 9px;
    font-weight: bold;
}

#footer ul li i{
    font-size: 15px;
    color: #7a7a7a;
}

/* Mobile Responsive */
@media(max-width: 768px) {
    #image-2 {
        visibility: hidden;
    }

    #contact-image {
        margin-left: -40px;
        margin-top: 50px;
    }
}

@media(max-width: 580px) {
    #hero #banner {
        background-size: 81% 60%;
    }

    #article-1 img {
        height: 350px;
    }
}